# Code
.idea/
.vscode/

# macOS
.DS_Store

# Python
__pycache__/
*.egg-info/
*.pyc
.coverage
coverage.*
htmlcov/
.tox/

# Build
dist/

# Virtual env
venv/

# Sandbox files
db.sqlite3

# Compiled translations
*.mo
