{% load crispy_forms_filters i18n %}
<input
    aria-label="{% trans "Select all rows" %}"
    data-trans-select-all="{% trans "Select all %num% rows" %}"
    data-trans-deselect-all="{% trans "De-select all %num% rows" %}"
    data-trans-all-selected="{% trans "All %total% rows selected" %}"
    data-trans-num-selected="{% trans "%current% of %total% selected" %}"
    type="checkbox" {{ attrs|flatatt }}
>
<div style="position: absolute; left:-2000px; height: 0px; width: 0px;">
    {# FIXME: the announcement becomes part of the table header. It should not, but there is no easy solution #}
    {# Placeholder used by javascript to generate announments for screenreaders #}
    <span aria-live="polite" data-tableselect-narrator></span>
</div>